{% extends "base_login.html" %}
{% block content %}

     <div class="login content-background" style="margin-top: 15vh;">
      <div class="heading">
        <h2>Sign in</h2>
        <form action="#">

          <div class="input-group input-group-lg" style="padding-top: 5vh;">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Username" required>
              </div>

            <div class="input-group input-group-lg" style="padding-top: 3vh;">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" placeholder="Password" required>
            </div>

            <button type="submit" class="float" style="margin-top:40px;">Login</button>
           </form>
        </div>
     </div>

{% endblock %}
