{% extends "base.html" %}
{% block content %}

<div class="container">
  {% if Posts %}
    {% for post in Posts %}
      <div class="row">
        <div class="col m8 offset-m2 s10 offset-s1">
          <div class="card animi-shadow z-depth-2">
            <div class="card-image">
              <img src="../assets/images/blog.jpg" id="post_list" style="height: 35vh" >
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="row">
      <div class="col m8 offset-m2 s10 offset-s1">
        <div class="card animi-shadow z-depth-2">
          <div class="card-image">
            <img src="../assets/images/blog.jpg" id="post_list" style="height: 35vh" >
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% if user %}
<div class="fixed-action-btn">
 <a class="btn-floating fab_menu btn-large waves-effect waves-ripple translucent-fab z-depth-2">
   <i class="large material-icons">description</i>
 </a>
 <ul>
   <li><a class="btn-floating menu_add waves-effect waves-ripple  translucent-fab" href="/new"><i class="material-icons">add</i></a></li>
 </ul>
</div>
{% endif %}

{% endblock %}
